
<h2>Articles Table</h2>

<div class="Table">
    <div class="row head">
        <div class="cell">Id</div>
        <div class="cell">Title</div>
        <div class="cell">Content</div>
        <div class="cell">Published</div>
        <div class="cell">Last Modified</div>
        <div class="cell">Author</div>
        <div class="cell">category</div>
        <div class="cell">Actions</div>
    </div>
    <div class="main-content"> </div>
    <div class="row pagin" style="padding:10px">
        <button id="prevBtn" style="margin-right:10px">Prev</button>
        <button id="nextBtn">Next</button>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="~/Content/Articles.css" />

<script src="~/Scripts/Article.js"></script>