@model ArticlesViewer.Models.Article

@{
    ViewBag.Title = "Index";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = null;
}

<h2>Index</h2>

<div>
    @Html.ActionLink("Back to List", "Index")

</div>


@{
    var a = Html.Partial("Test");
    var text = "<div style=\"color:red\">Hi</div>";
}
<h1>h1</h1>
@a
@{@text}
<h2>Try</h2>
@Html.Raw(text)
<h2>Try</h2>
@text;
@{
    MvcHtmlString mvcHtmlString = new MvcHtmlString(text);
}
@mvcHtmlString
<h1>Hello</h1>
@{Html.RenderPartial("Test");};
<h1>Hello</h1>
@{Html.Action("Index", "Home");}
<h1>Hello</h1>
@{Html.RenderAction("PartialIndex");}