<h2>Auth</h2>

<div style="width:100%;height:85vh">

</div>
<div class="authModal">
    <label for="email">Email</label>
    <input type="email"  id="email" />
    <label for="password">Password</label>
    <input type="password"  id="password" />
    <button id="logInBtn" class="btn btn-primary">LogIn</button>
</div>

<link rel="stylesheet" type="text/css" href="~/Content/Auth.css" />
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-grid.min.css"/>
<script src="~/Scripts/authScript.js" ></script>